inc/config.php
imagens/Busca de codigo pre-cadastrado.png
imagens/cadastro de cliente.png
imagens/cadastro de produtos.png
imagens/cadastro.png
imagens/confirmação de produto.png
imagens/entrada do produto a armazenar.png
imagens/gerenciamento de dados.png
imagens/home.png
imagens/movimentação de produtos.png
imagens/pallets.png
imagens/Retirada do produto do armazen.png
